section#about.section.scrollspy
  h3.page-title.white-text.teal About
  .container.flow-text
    blockquote
      p Full stack embedded system design, from high speed multi-layer PCB design, low level test, FreeRTOS and Linux driver, all the way to user application and user interface.
    p
      | I am always passionate about technology, and curious about the things behind these technologies. This is why I choose to be an EECS student, to have the knowledge from ground up, trying to answer all the questions I may have.

