section#contact.section.scrollspy.full-height
  h3.page-title.white-text.teal Contact
  .container
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Email Wenting', href='mailto:zephray@outlook.com', data-position='top', data-tooltip='Email Wenting')
        i.fa.fa-envelope
        a.hoverline(alt='', href='mailto:zephray@outlook.com') zephray@outlook.com
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Wenting on GitHub', href='http://github.com/zephray', target='_blank', data-position='top', data-tooltip='View Wenting on GitHub')
        i.fa.fa-github
        a.hoverline(alt='', href='http://github.com/zephray') github.com/zephray
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Wenting on LinkedIn', href='http://linkedin.com/in/wenting-zhang', target='_blank', data-position='top', data-tooltip='View Wenting on LinkedIn')
        i.fa.fa-linkedin
        a.hoverline(alt='', href='http://linkedin.com/in/wenting-zhang') linkedin.com/in/wenting-zhang
