section#education.section.scrollspy
  h3.page-title.white-text.teal Education
  .container

    // Penn State
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://www.psu.edu', target='_blank')
              img.responsive-img.center-block(alt='Penn State logo', src='static/img/psu-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.psu.edu', target='_blank') Penn State University
        .role.brown-text University Park, PA
        p
          em.grey-text Double major in Computer Science and Electrical Engineering
        ul
          li Overall GPA 3.79/4.0
          li Major GPA 4.0/4.0
          li Dean's List
          li MC-REU scholarship
      .card-action
        span Aug 2016 - Present