section#experience.section.scrollspy
  h3.page-title.white-text.teal Experience
  .container

    //- RXmech - ESE
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://rxmech.com', target='_blank')
              img.responsive-img.center-block(alt='RX mech&opti logo', src='static/img/rxmech-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://rxmech.com', target='_blank') RX Machinery Co., Ltd.
        .role.brown-text Embedded System Engineer
        ul
          li Designed a mainboard for a embedded system with i.MX ARM processors
          li Ported Linux CSI platform driver to target custom board
          li Debugged a newly designed development platform
          li Wrote documents for the application API

      .card-action
        span August 2017 - May 2018  |  Ningbo, China

    //- Writer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://www.ptpress.com.cn', target='_blank')
              img.responsive-img.center-block(alt='PTPress logo', src='static/img/ptp-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.ptpress.com.cn', target='_blank') People's Posts & Telecom Press
        .role.brown-text Columnist
        ul
          li Wrote a series of digital logic and FPGA tutorial
          li Wrote DIY guide for several open source hardware projects
      .card-action
        span May 2018 - Present

    //- Writer
    .card
      .card-content
        .row
          .col.s12.m2
            a(href='http://www.ptpress.com.cn', target='_blank')
              img.responsive-img.center-block(alt='PTPress logo', src='static/img/ptp-logo.jpg')
          .col.s12.m10
            p
              span.card-title
                a.teal-text.hoverline(href='http://www.ptpress.com.cn', target='_blank') People's Posts & Telecom Press
        .role.brown-text Part-time Writer
        ul
          li Wrote a series of STM32 MCU software design tutorial
          li Reviewed several open source single board computers
      .card-action
        span December 2014 - January 2017

