section#skills.section.scrollspy
  h3.page-title.white-text.teal Skills
  .container

    //- Programming
    .card
      .card-content
        h4.brown-text.light Programming
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/c.png')
            .skill C
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/cpp.png')
            .skill C++ 17
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/csharp.png')
            .skill C#
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/asm.png')
            .skill Assembly
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/java.jpg')
            .skill Java
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/python.png')
            .skill Python
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/delphi.png')
            .skill Delphi
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/js.png')
            .skill JavaScript

    //- Embedded
    .card
      .card-content
        h4.brown-text.light Embedded System
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/lpc.jpg')
            .skill LPC
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/stm32.jpg')
            .skill STM32
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/imx.jpg')
            .skill i.MX
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/avr.png')
            .skill AVR
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/freertos.jpg')
            .skill FreeRTOS
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/linux.png')
            .skill Linux


    //- Digital Design
    .card
      .card-content
        h4.brown-text.light Digital Design
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/verilog.jpg')
            .skill Verilog
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/sv.png')
            .skill SystemVerilog
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/ise.jpg')
            .skill ISE
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/vivado.jpg')
            .skill Vivado
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/quartus.png')
            .skill Quartus

    //- Hardware Design
    .card
      .card-content
        h4.brown-text.light Hardware Design
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/pads.jpg')
            .skill PADS
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/altium.png')
            .skill Altium Designer
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/orcad.png')
            .skill OrCAD

    //- Other
    .card
      .card-content
        h4.brown-text.light Other
        .row.text-center
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/github.png')
            .skill Github
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/labview.jpg')
            .skill LabVIEW
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/solidworks.jpg')
            .skill SolidWorks
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/photoshop.png')
            .skill Photoshop
          .col.s4.m2
            img.responsive-img(alt='', src='static/img/wordpress.png')
            .skill Wordpress

